# ==========================================
# Virtual Environment
# ==========================================
venv/
env/
.venv/

# ==========================================
# Secrets
# ==========================================
.env

# ==========================================
# Python Cache
# ==========================================
__pycache__/
*.py[cod]
.pytest_cache/

# ==========================================
# Streamlit
# ==========================================
.streamlit/secrets.toml

# ==========================================
# OS / IDE
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ==========================================
# Logs
# ==========================================
*.log